* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

/******************* BASIC *******************/

body {
  background-color: #c8d6e546;
}

h6,
p {
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 10px;
  text-transform: uppercase;
}

section {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

img {
  width: 40%;
}

/******************* CONTECT *******************/

.content {
  width: 90%;
  margin: 0 auto;
  overflow: auto;
}

/******************* FOOTER *******************/

footer ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-size: 30px;
  padding: 0 6px;
}

footer ul li a {
  color: black;
  font-size: 25px;
  padding: 0 6px;
}
